---
---

@import "{{ site.theme }}";

body {
  // add custom styles here, e.g,
  // background-color: #cdcdcd;
}

img[title="Adjoint conjugate gradient code"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 160px;
  max-height: 320px;
  object-fit: scale-down;
}
