---
---

@import "{{ site.theme }}";

body {
  // add custom styles here, e.g,
  background-color: #ffffff;
}

img[title="Adjoint conjugate gradient code"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 240px;
  max-height: 640px;
  object-fit: scale-down;
}
